switch div{
    pointer-events: none !important;
    position: relative;
    z-index: -1;
}

svg path{
    position: relative;
    z-index: 99;
}

#infoLabel{
    text-transform: capitalize;
}
#clear{
    position:absolute;
    width: 70px;
    height: 70px;
}
#clear button{
    position: relative;
    font-size: 70px;
    color: red;
}